body {
  font-family: Arial, sans-serif;
  background-color: #ffd829;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 100px;
  padding: 15px 25px 15px 25px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

nav img {
  width: 100px;
}

.no-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

section {
  display: flex;
  justify-content: space-around;
  padding: 15px 25px 15px 25px;
}

.recuadros {
  display: flex;
  background-color: white;
  justify-content: center;
  border: solid black 5px;
  border-radius: 15px;
  width: 30%;
  height: 500px;
}

.recuadros h2 {
  display: flex;
  align-content: center;
  font-size: 35px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 13px;
  width: 100%;
  height: 50px;
}