body {
  background-color: #ffd829;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.barra-superior {
  background-color: black;
  width: 100%;
  height: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  width: auto;
  height: 100px;
  padding: 15px 25px 15px 25px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

nav img {
  width: 100px;
}

.no-link {
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

section {
  display: flex;
  justify-content: space-around;
  margin: 50px 0px 50px 0px;
  padding: 15px 25px 15px 25px;
}

.recuadros {
  background-color: white;
  display: flex;
  width: 563px;
  height: 500px;
  border-radius: 15px;
}

.recuadros a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 132px;
  text-decoration: none;
}

footer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: white;
  font-size: 13px;
}
